<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>

      <style type='text/css'>
        p span.displaynone { display:none; }
        </style>

      <p class="lead2 unselectable" style="unicode-bidi: bidi-override; direction: rtl;">{{ site.author.email.domain }}<span class='displaynone'>emerongi</span>{{ site.author.email.name }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item active" href="{{ site.baseurl }}">home</a>

      <a class="sidebar-nav-item" href="/cv">cv</a>
      <a class="sidebar-nav-item" href="/misc">misc</a>
      
      <!-- TODO: latex template -->
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <p id="lastUpdate"></p>
    
    <script>
      const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          let repo = JSON.parse(this.responseText);
          let lastUpdate = new Date(repo.pushed_at);
          let date = months[lastUpdate.getMonth()] + " " + String(lastUpdate.getDate()) + " " + String(lastUpdate.getFullYear());
          document.getElementById("lastUpdate").innerHTML = `last update <em>${date}</em>`;
        }
      };
      xhttp.open("GET", "https://api.github.com/repos/bchaper0n/bchaper0n.github.io", true);
      xhttp.send();
      </script>
    
    <p style="margin-top: 50px; font-size: 12px;">&copy; {{ site.time | date: '%Y' }}. all rights reserved.</p>
  </div>
</div>
